<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="razor" type="Nancy.ViewEngines.Razor.RazorConfigurationSection, Nancy.ViewEngines.Razor" />
  </configSections>
  
<appSettings>

  </appSettings>

  <razor disableAutoIncludeModelNamespace="false">
    <assemblies>
      <add assembly="System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      <!--<add assembly="SolrNet" />
      <add assembly="SyslogServerLibrary" />-->
    </assemblies>
    <!--<namespaces>
      <add namespace="SolrNet" />
    </namespaces>-->
  </razor>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>