@using System.Linq
@using FileRepo.Modules
@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<dynamic>
@{
    Layout = "Views/layout.cshtml";
}
@Html.Partial("Views/FileDetailsPartial.cshtml", Model)
<div class="btn-group">
    <a href="/repo/file/@Model.Id/download" class="btn btn-default">Download</a>
    @if (RepoModule.UserAllowedToEdit(Context, Model))
    {
        <a href="/repo/file/@Model.Id/edit" class="btn btn-default">Edit</a>
    }
    @if (Context.CurrentUser.Claims.Contains("admin"))
    {
        <a href="/repo/file/@Model.Id/delete" class="btn btn-default">Delete</a>
    }
    <a href="/repo/subject/@Model.SubjectId" class="btn btn-default">Back</a>
</div>
